<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1, p {
            color: #4c67d2;
            font-weight: 900;
           
        }
        a {
            color: #ff0000;
            font-weight: 900;
            padding: 10px;
        }
        
            table, th, td {
        border: 1px solid black;
                margin-left: auto;
  margin-right: auto;
        }
    </style>
</head>
<body>
<a href="add_room/">add new room</a>
<table>
<tr>
    <th>room name</th>
    <th>ile siedzien</th>
    <th>projektor?</th>
    <th> edit</th>
    <th> DELETE</th>
</tr>
{% for room in rooms %}
    <tr>
    <td>{{ room.name }}</td>
        
    <td>{{ room.seats }}</td>
        
     <td>{{ room.projector }}</td>
        
        <td><a href="edit_room/{{ room.id }}">edit room {{ room.name }}</a></td>
        
     <td><a href="delete_room/{{ room.id }}">X</a></td>
    </tr>
{% endfor %}
</table>
</body>
</html>